<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="container">
    <div class="motto font-weight-bold text-center">
      <h1>Perlombaan 17 Agustus </h1>
      <h3>Lomba-lomba seru 17 agustus menantimu ! </h3>
      <br />
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Tentang kami</h2>
          <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis feugiat dolor
            nec convallis. Praesent eget tellus in velit lobortis elementum. Vivamus faucibus augue neque, sed mattis
            elit eleifend at. Pellentesque varius, eros sit amet viverra sodales, eros metus sagittis erat, quis
            faucibus ligula nisl nec enim. Sed a tellus nec orci tincidunt dignissim ut et eros. Nam mattis pulvinar
            tellus, sit amet consequat sem accumsan eget. Vivamus vel feugiat velit, rutrum porttitor velit. Duis et
            dolor vitae augue mattis gravida vitae eu neque. Maecenas est lacus, dictum quis libero eu, malesuada
            ultrices sem.</h5>
          <br>
        </div>
      </div>
      <br /><br />

      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Tahapan Perlombaan</h2>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-sign-in-alt"></i>
            </div>
            <div class="description">
              <h4 class="info-title">1. Daftar</h4>
              <p class="description">Daftarkan dirimu atau tim-mu</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-mouse-pointer"></i>
            </div>
            <div class="description">
              <h4 class="info-title">2. Pilih</h4>
              <p>Pilih lomba yang ingin kamu atau tim-mu ikuti</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-futbol"></i>
            </div>
            <div class="description">
              <h4 class="info-title">3. Ikuti</h4>
              <p>Ikuti lomba yang kamu pilih.Lihat detail waktu dan lokasi lomba yang kamu pilih agar tidak terlewatkan.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-trophy"></i>
            </div>
            <div class="description">
              <h4 class="info-title">4. Pemenang</h4>
              <p>Pemenang masing-masing lomba akan diberitahukan di website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-danger text-center pt-3 ">
    <div class="container pb-3">
      <div class="col-md-8 mr-auto ml-auto pb-3">
        <h2 class="title text-white">Ragam Perlombaan</h2>
        <br>
      </div>
      <div class="row">
        <div class="col-md-2 ">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-futbol"></i>
            </div>
            <div>
              <h5 class="text-white">Sepakbola</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-basketball-ball"></i>
            </div>
            <div>
              <h5 class="text-white">Basket</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-running"></i>
            </div>
            <div>
              <h5 class="text-white">Maraton</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-biking"></i>
            </div>
            <div>
              <h5 class="text-white">Bersepeda</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-shuttlecock"></i>
            </div>
            <div>
              <h5 class="text-white">Bola Tenis</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info ">
            <div class="icon text-white">
              <i class="fas fa-swimmer"></i>
            </div>
            <div>
              <h5 class="text-white">Berenang</h5>
            </div>
          </div>
        </div>

        <div class="container text-white text-center mt-4">
<h4 class="mb-2" >.... dan masih banyak lagi ragam perlombaan lainnya ! </h4>
<p>Klik tombol di bawah ini untuk lihat perlombaan lainnya</p>
<button type="button" class="btn btn-outline-neutral btn-round mt-3">Lihat Lomba</button>
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid"src="assets/img/landing-page.png" alt="">
        </div>

        <div class="col-md-6 text-center">
          <h2 class=" custom-size">Tunggu apa lagi ?</h2>
          <h4>Segera daftarkan dirimu atau tim-mu sekarang !</h4>
          <a routerLink="/register">
            <button type="button" class="btn btn-outline-danger btn-round mt-3">Daftar</button>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
